body{
    background: #000;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}

.profile-container{
    max-width: 1200px;
    margin: auto;
    padding: 30px;
}

.profile-header{
    text-align: center;
    margin-top: 20px;
}

#profile-avatar{
    width: 150px !important;
    height: 150px !important;

    border-radius: 50%;
    object-fit: cover;

    border: 3px solid #E50914;
}

#profile-name{
    margin-top: 15px;
}

#edit-profile{
    background: #E50914;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.back-btn{
    position: fixed;
    top: 20px;
    left: 20px;

    color: white;
    text-decoration: none;
    font-size: 18px;

    background: #111;
    padding: 10px 15px;
    border-radius: 10px;
}

.back-btn:hover{
    background: #E50914;
}
.avatar-option{
    width: 80px;
    height: 80px;

    border-radius: 50%;
    cursor: pointer;

    transition: .3s;
}

.avatar-option:hover{
    transform: scale(1.1);
    border: 3px solid #E50914;
}
.avatar-grid{
    display: flex;
    justify-content: center;
    gap: 20px;          /* space between avatars */
    flex-wrap: wrap;
    margin-top: 20px;
}

.avatar-option{
    width: 65px;
    height: 65px;

    cursor: pointer;

    transition: 0.3s;

    border-radius: 50%;
}

.avatar-option:hover{
    transform: scale(1.1);

    border: 3px solid #E50914;
}

.avatar-option.selected{
    border: 4px solid #E50914;
}
#watchlist-movies{
    display:flex;
    gap:20px;

    overflow-x:auto;

    flex-wrap:nowrap;

    padding-bottom:10px;
}

.watchlist-card{

    width:180px;

    background:#111;

    border-radius:15px;

    overflow:hidden;
    
    transition: 0.3s;

}
.watchlist-card:hover{
    transform: translateY(-5px);
}

.watchlist-card img{

    width:100%;

    height:250px;

    object-fit:cover;

}

.watchlist-info{

    padding:10px;

    text-align:center;

}
#recent-trailers{
    display:flex;
    gap:20px;

    overflow-x:auto;

    margin-top:20px;
}

.watch-again-btn{
    display:inline-block;

    margin-top:10px;

    padding:8px 12px;

    background:#E50914;

    color:white;

    text-decoration:none;

    border-radius:8px;
}
.profile-subtitle{
    color: #aaa;
    text-align: center;
    margin-top: 30px;
}
h2{
    margin-top: 40px;
    margin-bottom: 15px;
}
#watchlist-movies,
#favorite-movies,
#recent-trailers{
    scrollbar-width: none;
}

#watchlist-movies::-webkit-scrollbar,
#favorite-movies::-webkit-scrollbar,
#recent-trailers::-webkit-scrollbar{
    display: none;
}
